* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}


header {
  width: 70%;
  max-width: 1000px;
  margin: auto;
  margin-top: 50px;
  margin-bottom: 100px;
}

header img {
  width: 100%;
}

header h1 {
  text-align: center;
}


.botonera {
  width: 70%;
  max-width: 1000px;
  margin: auto;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

.input-color-div {
  display: flex;
  align-items: center;
}

.input-color-div p {
  margin-right: 10px;
}

.url-input {
  width: 350px;
  padding: 5px;
}